@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Roboto+Mono:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@media (max-wihth: 200px){
  .background-color-sobre{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
  }

}

body{
  font-family: 'Josefin Sans', sans-serif;
}

.background{
  background-image: url();
  background-color: black;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
header{

}


/*Início Header*/
nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*padding: 45px;*/
  /*padding-left: 8%;
  padding-right:8%;*/
  padding: 35px 25px 0px 35px;
  position: fixed;
  width: 100%;
  top:0;
}

nav h2{
  color: #fff;
  font-size: 35px;
  cursor: pointer;
  letter-spacing: 5px;
}

span{
  color: #f9004d;
}

nav ul li{
  list-style: none;
  display:inline-block;
  padding: 10px 20px;
}

nav ul li a{
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
  transition: 2s; 
}

nav ul li a:hover{
  color: #f9004d;
}

.btn{
  background-color: #f9004d;
  color: #fff;
  padding: 10px 25px;
  border-radius: 30px;
  font-weight: bold;
  transition: transform .4s;
}

.btn:hover{
  background-color: #fff;
  color: #f9004d;
  transform: scale(1.2);
}
/*Fim Header*/



/*Início Main*/
.main{
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50);
}

h4{
  color: #9c9c9c;
  letter-spacing: 2px;
  font-size: 20px;
}

h1{
  color: #fff;
  margin: 20px 0px 20px;
  font-size: 75px;
}

h3{
  color: #fff;
  font-size: 25px;
  margin-bottom: 50px;
}

.container-btn form{
  width: 380px;
  max-width: 100%;
  position: relative;
}

.container-btn form input:first-child{
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border-radius: 30px;
  outline: none;
  border: none;
}

.container-btn form input:last-child{
  position: absolute;
  display: inline-block;
  outline: none;
  padding: 10px 30px;
  border: none;
  border-radius: 30px;
  background-color: #f9004d;
  color: #fff;
  box-shadow: 0px 0px 15px #858585;
  left: 400px;
  top: 4px;
  cursor: pointer;
}

.background-color-sobre{
  background-color: #191919;
  width: 100%;
  padding: 90px 0px;
  display: flex;
  flex-wrap: wrap;
}

.background-color-sobre img{
  width: 40%;
  height: auto;
  border-radius: 50%;
}

.text-sobre{
  width: 50%;
}

.main-sobre{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  width: 1130px;
  margin: 0 auto;
}

.text-sobre h2{
  color: #fff;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px
}

.text-sobre h5{
  color: #fff;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.text-sobre p{
  color: #fcfcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
  text-align: justify;
}

button{
  background-color: #f9004d;
  text-transform: none;
  color: #fff;
  padding: 13px 20px;
  border: solid 1px transparent;
  border-radius: 30px;
  font-weight: bold;
  transition: .2s;
}

button:hover{
  background-color:transparent;
  border: 1px solid #f9004d;
  color:#f9004d;
  cursor: pointer;
  font-weight: bold;
}
/*Fim Main*/


/*Início Serviços*/
.container-servicos{
 background-color: #101010;
 width: 100%;
 margin: 0 auto;
 padding: 90px 0px;
}

.title h2{
  color: #fff;
  font-size: 75px;
  text-align: center;
  margin-bottom: 20px;
}

.caixa{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  flex-wrap: wrap;
  gap: 30px;
}

.cards{
  background-color: #191919;
  width: 335px;
  border: 20px;
  border-radius: 20px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 0px 0px 20px 0px;
  /*box-shadow: 5px 5px 8px rgba(249, 0, 77, 0.250);*/
  box-shadow: 5px 5px 8px rgba(255, 255, 255, 0.250);
  position: relative;
}

.cards::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border: solid 25px transparent;
  border-top: solid 25px #f9004d;
  border-right: solid 25px #f9004d;
}

.cards i{
  font-size:50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #f9004d;
}

.cards h5{
  color: #fff;
  font-size: 23px;
  margin-bottom: 15px;
}

.cards p{
  color: #fff;
  text-align: justify;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
  padding: 0px 20px;
}

.btn{
  border: none;
  transition: .5s;
  letter-spacing: 2px;
  box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.250);
}

.btn:hover{
  background-color: transparent;
  border: solid 1px #f9004d;
  transform: scale(1.1);
  color: #f9004d;
  letter-spacing: 2px;
}
/*Fim Serviços*/
