@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Roboto+Mono:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body{
  font-family: 'Josefin Sans', sans-serif;
}


/*Início | background-header-main */
.background-header-main{
  background-color: black;
  width: 100%;
}

header nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 15px 0px;
  position: fixed;
  width: 100%;
  top:0;
  background-color: rgba(0, 0, 0);
  z-index: 99;
}

header nav h2{
  color: #fff;
  font-size: 35px;
  cursor: pointer;
  letter-spacing: 5px;
}

header span{
  color: #f9004d;
}

header nav ul{
  display: flex;
  gap: 25px;
}

nav ul li{
  list-style: none;
  display: flex;
}

nav ul li a{
  color: #fff;
  font-weight: bold;
  transition: 2s; 
  letter-spacing: 2px;
}

nav ul li a:hover{
  color: #f9004d;
}

.btn-nav{
  background-color: #f9004d;
  border:none;
  color: #fff;
  letter-spacing: 2px;
  padding: 10px 25px;
  border-radius: 30px;
  font-weight: bold;
  transition: 2s;
}

.btn-nav:hover{
  background-color: #fff;
  color: #f9004d;  
}
/*Fim | background-header-main */



/*Início continer-main*/
.container-main{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;  
  padding: 120px 0px;
}

.perfil h4{
  color: #9c9c9c;
  letter-spacing: 1px;
  font-size: 20px;
}

.perfil h1{
  color: #fff;
  margin: 30px 0px 10px;
  font-size: 80px;
}

.perfil h1 span{
  color: #f9004d;
}

h3{
  color: #fff;
  font-size: 25px;
  margin-bottom: 50px;
  letter-spacing: 8px;
}

.img-main .foto{
  border-radius: 50%;
  box-shadow: 10px 10px 15px #f9004f50;
}

.container-main .form{
  width: 380px;
  max-width: 100%;
  position: relative;
}

.container-main .form input:first-child{
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border-radius: 30px;
  outline: none;
  border: none;
}

.container-main form input:last-child{
  position: absolute;
  display: inline-block;
  outline: none;
  padding: 10px 30px;
  border: none;
  border-radius: 30px;
  background-color: #f9004d;
  color: #fff;
  box-shadow: 0px 0px 15px #858585;
  left: 400px;
  top: 4px;
  cursor: pointer;
}
/*Fim continer-main*/



/*Início container/ sobre mim*/
.background-color-sobre{
  background-color: #191919;
  display: flex;
  align-items: center;
  padding: 120px 0px;
}

.dv-img .img-sobre{
  width: 60%;
  border-radius: 50%;
  margin-left:10%;
}

.text-sobre{
  margin-right: 10%;
}

.text-sobre h2{
  color: #fff;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.text-sobre h5{
  color: #fff;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.text-sobre p{
  color: #fcfcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
  text-align: justify;
}

button{
  background-color: #f9004d;
  text-transform: none;
  color: #fff;
  padding: 13px 20px;
  border: solid 1px transparent;
  border-radius: 30px;
  font-weight: bold;
  transition: .2s;
}

button:hover{
  background-color:transparent;
  border: 1px solid #f9004d;
  color:#f9004d;
  cursor: pointer;
  font-weight: bold;
}
/*Fim container/ sobre mim*/


/*Início container/ Serviços*/
.container-servicos{
 background-color: #101010;
 width: 100%;
 margin: 0 auto;
 padding: 90px 0px;
}

.title h2{
  color: #fff;
  font-size: 75px;
  text-align: center;
  margin-bottom: 20px;
}

.caixa{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  flex-wrap: wrap;
  gap: 30px;
}

.cards{
  background-color: #191919;
  width: 40%;
  border: 20px;
  border-radius: 20px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 0px 0px 20px 0px;
  /*box-shadow: 5px 5px 8px rgba(249, 0, 77, 0.250);*/
  box-shadow: 5px 5px 8px rgba(255, 255, 255, 0.250);
  position: relative;
}

.cards::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border: solid 25px transparent;
  border-top: solid 25px #f9004d;
  border-right: solid 25px #f9004d;
}

.cards i{
  font-size:50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #f9004d;
}

.cards h5{
  color: #fff;
  font-size: 23px;
  margin-bottom: 15px;
}

.cards p{
  color: #fff;
  text-align: justify;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
  padding: 0px 20px;
}

.btn{
  border: none;
  transition: .5s;
  letter-spacing: 2px;
  box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.250);
}

.btn:hover{
  background-color: transparent;
  border: solid 1px #f9004d;
  transform: scale(1.1);
  color: #f9004d;
  letter-spacing: 2px;
}
/*Fim container/ Serviços*/


.me-contate{
  width: 100%;
  height: 240px;
  background-color: #191919;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.me-contate p{
  color: #fff;
  font-size: 30px;
  margin-bottom: 25px;
  font-weight: bold;
}

footer{
  background-color: #101010;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}

footer h6{
  font-size: 35px;
  color: #fff;
}

footer p{
  color: #fff;
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 25px;
}

.redes-sociais{
  display: flex;
}

.redes-sociais a{
  background-color: #f9004d;
  padding: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  color: #fff;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 20px 10px;
  text-decoration: none;
  transition: 1s;
}

.redes-sociais a:hover{
  transform: scale(1.2);
}

.end p{
  color: #f9004d;
  font-size: 20px;
  margin-top: 30px;
}


@media screen and (max-width: 768px){
  .container-servicos{
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:auto;
  }

  header nav{
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
  }

  .background-color-sobre{
    width: 100%;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
}

